@model IEnumerable<JobPortal.Web.Data.Entities.UserITM>

@{
    ViewData["Title"] = "Index";
}

<h2>ITM Users</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Carnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicProgram.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Carnet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicProgram.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
